export(Acf, apca, ArchTest, ARIMA, as.yearmon2, AutocorTest,
       compoundInterest, findConjugates, FinTS.stats,
       package.dir, plotArmaTrueacf, read.yearmon, runscript,
       simple2logReturns, Unitroot, url2data)

import(zoo)
importFrom(graphics, plot)

S3method(plot, Acf)
S3method(plot, loadings)

S3method(summary, fHTEST)

